#title > h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 20px;
    font-weight: bold;
}

#title > h2 {
    margin-bottom: 50px;
}

h3 {
    color: #d3381c;
    font-weight: 400;
    font-size: 24px;
    margin-left: 40px;
    margin-bottom: 40px;
}

th {
    padding-bottom: 10px;
    text-align: left;
}

td {
    padding: 5px;
    text-align: left;
}

.fontsmall {
    font-size: small;
}

span {
    letter-spacing: -10px;
}

.wider-input {
    width: 100%;
}

a {
    font-size: small;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}

.navbar-nav-scroll {
    flex-direction: row;
}

.nav-item {
    margin-inline: 15px;
}

.radius {
    border-radius: 25px;
}