#title > h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 20px;
    font-weight: bold;
}

.wider-input {
    width: 100%;
}

a {
    font-size: small;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}

.navbar-nav-scroll {
    flex-direction: row;
}

.nav-item {
    margin-inline: 15px;
}